/* 배너 부분 =============================== */
.banner_section {
    width: 100%;
    height: 80vh;
    min-height:650px;
}

.banner_section > .banner_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.banner_section > .banner_container > .banner_image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 1s;
    visibility: hidden;
    opacity: 0;
}

.banner_section > .banner_container > .banner_on {
    visibility: visible;
    opacity: 1;
}

.banner_section > .banner_container > .banner_image > img {
    display: block;
    width: 100%;
    height: 100%;
}



/* 배너 버튼 */
.banner_section > .banner_container > .banner_btns {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 50px;
    left: calc((100% - 100px) / 2);
    z-index: 100;
}

.buttons {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid gray;
    overflow: hidden;
    opacity: 0.4;
    background-color: white;
    transition: all 1s;
}

.buttons:hover {
    cursor: pointer;
}

.banner_section > .banner_container > .banner_btns > .button_on {
    opacity: 1;
}



/* 신상품, 베스트 부분 =============================== */
.newbest_container {
    width: 1200px;
    margin: 50px auto 0;
}

.newbest_title {
    width: 100%;
    height: 70px;
    position: relative;
}

.title_line {
    width: 80%;
    height: 35px;
    margin: 0 auto;
    border-bottom: 1px dashed black;
}

.new_title {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: calc((100% - 40px) / 2);
    left: calc((100% - 200px) / 2);
    font-size: 2rem;
    background-color: white;
    z-index: 1;
}


.best_title {
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: calc((100% - 40px) / 2);
    left: calc((100% - 300px) / 2);
    font-size: 2rem;
    background-color: white;
    z-index: 1;
}


.product_container {
    width: 100%;
    /* 높이는 임시 */
    height: 300px;
    margin-top: 30px;
}




/* 식기 관련 섹션 */
.stbn_container {
    width: 1200px;
    height: 600px;
    margin: 100px auto 0;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(6, 1fr);
}



