<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/fragments/common.css">
        <link rel="stylesheet" href="/css/fragments/hdft.css">
        <link rel="stylesheet" href="/css/index.css">
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script defer src="/js/fragments/hdft.js"></script>
        <script defer src="/js/index.js"></script>
        <title>M2</title>
    </head>

    <body>
        <header th:replace="fragments/hdft :: header"></header>

        <main>
            <section class="banner_section">
                <ul class="banner_container">
                    <li class="banner_image banner_on">
                        <img src="/images/banners/banner1.jpg" alt="banner_img">
                    </li>

                    <li class="banner_image">
                        <img src="/images/banners/banner2.jpg" alt="banner_img">
                    </li>

                    <li class="banner_image">
                        <img src="/images/banners/banner3.jpg" alt="banner_img">
                    </li>

                    <li class="banner_btns">
                        <button class="buttons button_on"></button>
                        <button class="buttons"></button>
                        <button class="buttons"></button>
                    </li>
                </ul>
            </section>
        </main>

        <footer th:replace="fragments/hdft :: footer"></footer>
    </body>
</html>